{% extends 'base.html' %}
{% block slider %}
{% include 'base/slider.html' %}
{% load static %}
{% endblock %}

{% block content %}


<section class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Patient’s Testimonials</h2>
            </div>
        </div>
    </div>

    <!-- Swiper -->
    <div class="testimonial-slider">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <div class="testimonial-bg-shape">
                        <div class="swiper-container testimonial-slider-wrap">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="entry-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada
                                            lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula
                                            sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus,
                                            luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et
                                            quam non, viverra accumsan leo.</p>
                                    </div><!-- .entry-content -->

                                    <div class="entry-footer">
                                        <figure class="user-avatar">
                                            <img src="static/Main/images/user-1.jpg" alt="">
                                        </figure><!-- .user-avatar -->

                                        <h3 class="testimonial-user">Russell Stephens <span>University in UK</span></h3>
                                    </div><!-- .entry-footer -->
                                </div><!-- .swiper-slide -->

                                <div class="swiper-slide">
                                    <div class="entry-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada
                                            lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula
                                            sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus,
                                            luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et
                                            quam non, viverra accumsan leo.</p>
                                    </div><!-- .entry-content -->

                                    <div class="entry-footer">
                                        <figure class="user-avatar">
                                            <img src="static/Main/images/user-2.jpg" alt="">
                                        </figure><!-- .user-avatar -->

                                        <h3 class="testimonial-user">Russell Stephens <span>University in UK</span></h3>
                                    </div><!-- .entry-footer -->
                                </div><!-- .swiper-slide -->

                                <div class="swiper-slide">
                                    <div class="entry-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada
                                            lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula
                                            sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus,
                                            luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et
                                            quam non, viverra accumsan leo.</p>
                                    </div><!-- .entry-content -->

                                    <div class="entry-footer">
                                        <figure class="user-avatar">
                                            <img src="static/Main/images/user-3.jpg" alt="">
                                        </figure><!-- .user-avatar -->

                                        <h3 class="testimonial-user">Russell Stephens <span>University in UK</span></h3>
                                    </div><!-- .entry-footer -->
                                </div><!-- .swiper-slide -->

                                <div class="swiper-slide">
                                    <div class="entry-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada
                                            lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula
                                            sapien. Suspendisse cursus faucibus finibus. Curabitur ut augue finibus,
                                            luctus tortor at, ornare erat. Nulla facilisi. Sed est risus, laoreet et
                                            quam non, viverra accumsan leo.</p>
                                    </div><!-- .entry-content -->

                                    <div class="entry-footer">
                                        <figure class="user-avatar">
                                            <img src="static/Main/images/user-4.jpg" alt="">
                                        </figure><!-- .user-avatar -->

                                        <h3 class="testimonial-user">Russell Stephens <span>University in UK</span></h3>
                                    </div><!-- .entry-footer -->
                                </div><!-- .swiper-slide -->
                            </div><!-- .swiper-wrapper -->

                            <div class="swiper-pagination-wrap">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div
                                                class="swiper-pagination position-relative flex justify-content-center align-items-center">
                                            </div>
                                        </div><!-- .col -->
                                    </div><!-- .row -->
                                </div><!-- .container -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .testimonial-slider -->
</section><!-- .testimonial-section -->

<div class="the-news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>The Blogs</h2>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="the-news-wrap">
                            <figure class="post-thumbnail">
                                <a href="#"><img src="static/Main/images/news-1.png" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3>{{ blogs.0.title }}</h3>

                                <div class="post-metas d-flex flex-wrap align-items-center">
                                    <div class="posted-date"><label>Date: </label>{{ blogs.0.day }}, {{ blogs.0.date }}
                                    </div>

                                    <div class="posted-by"><label>By: </label><a
                                            href="{% url 'all-blogs' username=blogs.0.Doctor.user.username %}">Dr.
                                            {{ blogs.0.Doctor.user.username }}</a></div>

                                </div>
                            </header>

                            <div class="entry-content">
                                <p> {{ blogs.0.text }} </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="the-news-wrap">
                            <figure class="post-thumbnail">
                                <a href="#"><img src="static/Main/images/news-2.png" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3>{{ blogs.1.title }}</h3>

                                <div class="post-metas d-flex flex-wrap align-items-center">
                                    <div class="posted-date"><label>Date: </label>{{ blogs.1.day }}, {{ blogs.1.date }}
                                    </div>

                                    <div class="posted-by"><label>By: </label><a
                                            href="{% url 'all-blogs' username=blogs.1.Doctor.user.username %}">Dr.
                                            {{ blogs.1.Doctor.user.username }}</a></div>

                                </div>
                            </header>

                            <div class="entry-content">
                                <p>{{ blogs.1.text }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="the-news-wrap">
                            <figure class="post-thumbnail">
                                <a href="#"><img src="static/Main/images/news-3.png" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3>{{ blogs.2.title }}</h3>

                                <div class="post-metas d-flex flex-wrap align-items-center">
                                    <div class="posted-date"><label>Date: </label><a href="#">{{ blogs.2.day }},
                                            {{ blogs.2.date }}</a></div>

                                    <div class="posted-by"><label>By: </label><a
                                            href="{% url 'all-blogs' username=blogs.2.Doctor.user.username %}">Dr.
                                            {{ blogs.2.Doctor.user.username }}</a></div>

                                </div>
                            </header>

                            <div class="entry-content">
                                <p>{{ blogs.2.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}