<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>@{{ name }}&apos;s Blogs</title>
    </head>
    <body>
        {% if blogs %}
        {% for note in blogs %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h2>{{ note.title }}</h2>
                    <small class="text-muted">Last modified: {{ note.date }}</small>
                </div>
                <p class="article-content">{{ note.text }}</p><br>
            </div>
        </article>
        {% endfor %}
        {% endif %}

        {% if err %}
        <p>That doctor does not exist.</p>
        {% endif %}
    </body>
</html>
